<a href="https://colab.research.google.com/github/John071131/Data-Science-Projectss/blob/master/viewdata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [0]:
from google.colab import files

with open('train_data.csv', 'w') as f:
  f.write('some content')

files.download('train_data.csv')

In [0]:
train=pd.read_csv('train_data.csv')

In [8]:
train.head()

Empty DataFrame
Columns: [some content]
Index: []